$color-white: rgb(255, 255, 255); 
$color-locations: rgb(40, 185, 3);
$font-size-text: 18px;
$font-size-input: 40px;
$font-size-temperature: 122px;
$font-size-day-temperature: 16px;
$font-size-day: 16px;
