.main__current-day {
	padding-bottom: 18px;
	flex-grow: 2;
	
	@include for-tablet-portait-only {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-bottom: 50px;
	}

	@include for-phone-only {
		padding-bottom: 25px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
