.main {
	box-sizing: border-box;
	width: 1160px;
	margin: 0 auto;
	color: #fff;
	padding: 50px 50px 0;
	@include for-tablet-portait-only {
		padding: 25px 25px 0;
	}

	@include for-phone-only {
		padding: 0;
	}
}
